@import url(style.css);

*{
    padding: 0;
    margin: 0;

    text-decoration: none;
}


.page1{
    width: 100%;
    height: 100vh;
   
    background-image: url("/storage/img/placeYourImageHere0.png");
   background-size: cover;
  
   
   
}
.fondo{
    background-color: #323239d5;
    height: 100vh;
    background-position: center;
}
.header1{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
 
}
.left{
    display:flex;
   gap: 30px;
   font-family: "Roboto Slab", serif;
   font-weight: bold;
  
  
}
.right{
    display: flex;
    gap:30px;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
}
.homePage1{
    color: #e58f00;
    font-weight: bold;
   
}
.aboutPage1{
    color: #ffff;
}
.menusPage1{
    color: #ffff;
}
.offerPage1{
    color: #ffff;
}

.galleryPage1{
    color: #ffff;
}
.contactPage1{
    color: #ffff;

}
.blogPage1{
    color: white;
}

.center1{
    display: flex;
    gap: 30px
}

.Tpage1{
    display: flex;
    flex-direction: column;
    width: 35%;
    align-self: center;
    align-items: left;
    gap:15px
}
.Ipage1{
    display: flex;
  width: 90vh;
    align-self: center;
    justify-self: center;
    margin-left: 30px;

}
.hPage1{
    color: #e58f00;
    font-family: "Roboto Slab", serif;
    font-size: 60px;

}
.pPage1{
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    color: #ffff;
    font-size: 20px
}
.bPage1{
    display: flex;
    color: #323239;
    width: 40%;
   font-family: "Roboto Slab", serif;
   font-weight: bold;
   font-size: 25px;
    background-color: #e58f00;
    padding: 15px;
    border: #e58f00;
    border-radius: 5px;
  
    justify-content: center;
}
.page2{
    background-color: #17171e;
    display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 30px
  
}
.iPage2{
    width:500px;
    height: 540px;



}
.tPage2{
    display: flex;
    flex-direction: column;
  width: 40%;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  gap: 5px
}
.hPage2{
    font-size: 50px;
    color: #ffff;


}
.pPage2{
    color: #ffff;
    font-size: 30px;

}

.page3_4{
    display: flex;
    width: 100%;
    height: 300vh;
    background-color: #17171e;
    flex-direction: column;
    margin-top: 0;
    overflow: hidden;
}
.style{
   width: 100%;
   height: 300vh;
 
    background-image: url("/storage/img/placeYourImageHereFood.png");
    background-repeat: no-repeat;
    margin-top: 100px;
}


.tPage3_4{
    display: flex;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    gap: 10px;
    height: 500vh;
    margin-top: 20%;
margin-left: 10%;
    width: 40%;

 
}

.hPage3_4{
    display: flex;
   justify-self: center;
    color: #ffff;
    font-size: 60px;
    
}
.pPage3_4{
  justify-self: center;
   
    color: #ffff;
    font-size: 30px;


}
.iPage3_4_1{
    display: flex;
   justify-self: flex-end;
    width: 500px;
     position: absolute;
height: 800px;
margin-left: 63%;
margin-top: -170px

 


}

.iPage3_4_2{
    display: flex;
    width: 900px;
margin-left: 75%;


}
.iPage3_4_3{
    display: flex;
    width: 500px;
    position: absolute;
margin-top: -670px;
left: 0%;

}

.page5{
width: 100%;
height: 200vh;
background-color: #17171e;
    



}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
}

.hPage5{
    display: flex;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    color: #ffff;
    font-size: 50px;
   align-self: center;
margin-bottom:80px


}

.fPage6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
 
    background-image: url("/storage/img/placeYourImageHereOur0.png");
}

.cPage6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
border: #e58f00;
border-style: solid;
border-width: 10px;

padding: 20px;


background-color: #17171ebe;


}

.hPage6{
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 50px;
    color: #ffff




}
.pPage6{
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    font-size: 30px;
align-items: center;
color: #ffff



}
.page7{
    width: 100%;
    background-color: #17171e;
    height: 200vh;
   



}
.hPage7{
    display: flex;
    justify-content: center;
    padding: 80px;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    color: #ffff;
    font-size: 60PX;
   


}
.tPage7{
    display: flex;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    gap: 20px;
    justify-content: space-around;
    font-size: 20px;
    color: #e58f00;
    margin-top: 30px;
gap:20px


}

.iPage7{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    justify-content: center;
    
}
.pPage7{
    display: flex;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    width: 100%;
   justify-content: space-around;

}